<%# Header %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/1366/400);">
  <div class="container d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 d-flex flex-column">
    <h1>SavvyGranny</h1>
    <p>Your parents’ personal tech support.</p>
    <%= select_tag "timezone", options_from_collection_for_select(
          ActiveSupport::TimeZone.all.
            map { |tz| tz.tzinfo }.
            sort_by { |tzinfo| tzinfo.name },
          :name, :name),
          class: 'select2 flex-fill py-2' %>
    <%= link_to "GO", root_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>

<%# Content %>
<div class="container my-5">
<div class="h1 text-center">It's simple to be savvy!</div>
<div class="col-12 col-md-4">
<div class="icon">
</div>
<div class="card-">
</div>
<div class="col-12 col-md-4">
</div>
<div class="col-12 col-md-4">
</div>
</div>

<%# Search by categories %>

<%# Sign up form %>