<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/1366/400);">
  <div class="container d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
    <h1>Savvy Granny</h1>
    <p>Your parents' personal tech support.</p>
    <%= select_tag "timezone", options_from_collection_for_select(
          ActiveSupport::TimeZone.all.
            map { |tz| tz.tzinfo }.
            sort_by { |tzinfo| tzinfo.name },
          :name, :name),
          class: 'select2' %>
    </div>
  </div>
</div>
