<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<% if @user.tutor %>
  Bookings Completed: <%= @completed.count %>
  Rating: 
<% else %>
  Bookings Made: <%= @user.bookings.count %>
<% end %>
<hr>
