<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<% if @user.tutor %>
  Bookings Completed: <%= @completed.count %><br>
  Average Rating: <%= @rating %> Stars
<% else %>
  Bookings Made: <%= @user.bookings.count %>
<% end %>
<hr>
