// Specific CSS for your home-page
:root {
    --mainColor: #a3adbf;
  }
  
  
.homedroplinks {
    line-height: 2.1;
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 4px 50px;
    text-decoration: none;
}

.browseallbutton {
    justify-content: center;
}
