<div class="container">
  <div class="col-12 col-md-10 col-lg-8">
  <h1>Job Board</h1>
  </div>

  <div>
  <% @bookings.each do |booking| %>
    <li>
    Task: <%= booking.job.name %><br>
    Date: <%= booking.start_date %><br>
    Time: <%= booking.start_time.strftime("%I:%M%p") %><br>
    <%= link_to "Apply for this job", apply_booking_url(booking) %>
    </li>
  <% end %>
  <div>

</div>