<h1>Bookings#show</h1>
<!-- Use this to display price -->
<p>Amount: <%= humanized_money_with_symbol(@booking.price) %></p>
<!-- This is the order form -->
<%= form_tag orders_path do %>
  <%= hidden_field_tag 'booking_id', @booking.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
