<%# Footer %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github" style="color: lightgrey"></i></a>
    <a href="https://www.instagram.com/savvygranny_sg"><i class="fab fa-instagram" style="color: lightgrey"></i></a>
    <a href="#contact-form" style="color: lightgrey" data-toggle="modal">Contact us</a>
  </div>






  <div class="footer-copyright" style="color: lightgrey">
    © SavvyGranny 2020
  </div>
</div>