<p>test test </p>

<%# //notification model 
//boolean for checking whether we have seen the msg or notification
// message id 
// booking id 
// user_id 
=> new message => new notification to particular user 

user id -> receive the msg 
msg id -> msg created 
updated booking  -> notification to user_it != current user
it need to cre %>