
<%# //notification model 
//boolean for checking whether we have seen the msg or notification
// message id 
// booking id 
// user_id 
=> new message => new notification to particular user 

user id -> receive the msg 
msg id -> msg created 
updated booking  -> notification to user_it != current user
it need to cre %>


<%unless @notifications.pluck(:read).include?(false) %>

<div class="container">


<div class="card">
  <div class="card-body">
    <%= "Nothing New" %>
  </div>
</div>
</div>

<%else%>

<div class ="container">
        <% @notifications.each do |notification| %>
            <% if notification.read == false %>
            <div class="card">
                <div class="card-body">
                <p>You have a new messeage from <%= notification.message.sender.first_name%> </p>
                <%= link_to "Check your message !",   booking_chatroom_path(notification.booking), class: "btn btn-success"  %>
                 </div>
            </div>   
            <% notification.update(read: true) %>
               
    
            <% end %>          
        <% end %>
</div>
    
<% end %>


