<div class="container">
  <div class="row py-4 justify-content-center text-center">
    <div class="col">
      <h1>Almost there!</h1>
      <p>Confirming your purchase of '<strong><%= @order.booking.sku %></strong>' for <strong><%= humanized_money_with_symbol @order.amount %>...</strong></p><br>
      <img src="https://raw.githubusercontent.com/ouningfei/rails-mister-cocktail/master/LayingDoodle.png" width="200"><br>
      <button id="pay" class="btn btn-primary btn-lg">Pay Now</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
