.chatroom-chatbox {
  width: 100.2%;
  height: 100%;
  margin-bottom: 4em;
  .messages {
    border-color: lightgrey;
  }
}
.chat-container {
  height: 50vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .chatroom-chatbox {
    width: 100%;
    height: 75vh;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .chat-container {
   height: 80vh;
 }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 