.full_background {
  height: 100%;
  padding: 5px;
  color: white;
  background-color: #484d49;
  background-image: url("https://res.cloudinary.com/dnxszleia/image/upload/v1594359428/photo-of-woman-showing-her-cellphone-to-her-grandmother-3768140_ddn5om.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.message {
  background-color: #484d49;
  opacity: .8;
}
