.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-weight: bold;
  font-family: "Josefin Sans";
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

/* standard navbar */
@media (min-width: 768px) {
  .show-when-big {
    display: block;
  }
  .show-when-small {
    display: none;
  }
}

/* mobile navbar */
@media (max-width: 767px) {
  .show-when-big {
    display: none;
  }
  .show-when-small {
    display: block;
  }
  
}