.sign-in-tabs input[type="radio"] {
  display:none;
}

.sign-in-tabs label {
  border: 1px solid #DDD;
  border-radius:5px;
  display:block;
  position:relative;
  padding: .5em;
  margin-bottom: 1em;
  color: #adb5bd;
  text-align: center;
  width: 234px;
}

.sign-in-tabs label:hover {
  cursor:pointer;
  background-color:#EEE;
}

.sign-in-tabs input[type="radio"]:checked + label {
  background-color:#DDD;
  color: #343a40;
}

@media only screen and (max-width: 520px) {
  .sign-spacer { 
    display: none;
  }
} 