<head>
</head>
<body>

<div class="container">
<h1 class="mt-4">Choose job, be savvy!</h1>
<%# PILLS LINKS TO WRAPPERS START HERE %>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-bills-tab" data-toggle="pill" href="#pills-bills" role="tab" aria-controls="pills-bills" aria-selected="false">Pay Bills & Transfer $</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-accounts-tab" data-toggle="pill" href="#pills-accounts" role="tab" aria-controls="pills-accounts" aria-selected="false">Accounts & Troubleshooting</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-government-tab" data-toggle="pill" href="#pills-government" role="tab" aria-controls="pills-government" aria-selected="false">Government Related</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-software-tab" data-toggle="pill" href="#pills-software" role="tab" aria-controls="pills-software" aria-selected="false">Software</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-commerce-tab" data-toggle="pill" href="#pills-commerce" role="tab" aria-controls="pills-commerce" aria-selected="false">e-Commerce</a>
  </li>
</ul>
<%# PILLS LINKS TO WRAPPERS END HERE %>


<%# START OF PILL CONTENT WRAPPER %> <div class="tab-content" id="pills-tabContent">

<%# START CONTENT OF TAB/PILL FOR ALL JOBS %>
  <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">

            <section class="pricing py-4">
            <div class="container">
            <%# <---CARDS -- > %>

                <div class="row">
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                    <div class="view overlay">
                        <img class="card-img-top" src="https://picsum.photos/300/200">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Utility Bills</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Water / Electric / Gas</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Internet / Phone bills</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Fine Payments</h5>
                        <h6 class="card-price text-center">$12<span class="period text-muted"> (20 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Parking fines</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>LTA / NEA / Govt fines</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Insurance Premiums</h5>
                        <h6 class="card-price text-center">$20<span class="period text-muted"> (30 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Life, health, medical</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>GIRO walkthroughs</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Insurer information not required</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>

<%# NEW ROW %>


                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Fines</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Parking & LTA</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>HDB/URA/NEA & AXS</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Cash Transfer</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Paynow / Paylah / PayAnyone</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Includes setup</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Forgot ID/Password</h5>
                        <h6 class="card-price text-center">$8<span class="period text-muted"> (10 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Create, Sign Up, Reset Account</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>For existing users of services</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Singpass related</h5>
                        <h6 class="card-price text-center">$8<span class="period text-muted"> (10 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Forgot account ID/Password</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Accessing Singpass services</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">CPF & Tax Queries</h5>
                        <h6 class="card-price text-center">$8<span class="period text-muted"> (10 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Basic CPF / Tax Q&A</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Viewing CPF / Tax accounts</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Welfare & Subsidies</h5>
                        <h6 class="card-price text-center">$12<span class="period text-muted"> (20 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Grant eligibility (CHAS, etc)</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Social support applications</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">One Motoring</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Vehicle related Q&A</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>PARF value, road tax, estate parking</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Zoom & Video Calls</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>How to use Zoom / Skype, etc</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Text Messaging</h5>
                        <h6 class="card-price text-center">$8<span class="period text-muted"> (10 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Sign-up of accounts</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>How to type, send photos, emojis</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Emails</h5>
                        <h6 class="card-price text-center">$20<span class="period text-muted"> (30 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>New email account</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Basic functions</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Microsoft Office</h5>
                        <h6 class="card-price text-center">$20<span class="period text-muted"> (30 min for each software)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Word, Excel, Powerpoint</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>File saving and attachments</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Buy Stuff Online</h5>
                        <h6 class="card-price text-center">$20<span class="period text-muted"> (30 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Lazada / Redmart / Amazon sign up </li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Food Delivery (Grabfood, etc)</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Returns and Tracking</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center">Transport</h5>
                        <h6 class="card-price text-center">$10<span class="period text-muted"> (15 min)</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Using Grab / Gojek / Comfort</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Book a Slot</a>
                    </div>
                    </div>
                </div>
                </div>
                <!-------------- Last card ends here ------------->

            </div > 
            </section>
                <!-------------- END OF CARDS ------------->

  </div>

<%# TAB/PILL FOR "ALL JOBS" END HERE %>


  <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab">...</div>
  <div class="tab-pane fade" id="pills-accounts" role="tabpanel" aria-labelledby="pills-accounts-tab">...</div>
  <div class="tab-pane fade" id="pills-government" role="tabpanel" aria-labelledby="pills-government-tab">...</div>
  <div class="tab-pane fade" id="pills-software" role="tabpanel" aria-labelledby="pills-software-tab">...</div>
  <div class="tab-pane fade" id="pills-commerce" role="tabpanel" aria-labelledby="pills-commerce-tab">...</div>
</div><%# END OF PILL CONTENT WRAPPERS %>
</div><%# /DIV END OF PILL CONTAINER %>




<%# Alert info below %>
<div class="alert alert-light alert-dismissible text-muted" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    Our tutors will never ask for any personal data or information such as passwords.
</div>
<%# End of alert info below %>

</body>